@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background-color: #202C36;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

input {
  border: 0;
  outline: 0;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

header {
  width: 100%;
  background-color: #2B3844;
  padding: 24px 0;
  margin-bottom: 48px;
}
header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__content .content__info h1 {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  margin: 0;
}
header .header__content .content__nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
header .header__content .content__nav span svg {
  margin-right: 8px;
}

@media only screen and (max-width: 1280px) {
  header {
    padding: 16px;
  }
  header .header__content {
    width: 100%;
  }
}
.search__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}
.search__filter .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2B3844;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}
.search__filter .search label {
  margin-right: 24px;
}
.search__filter .search input {
  width: 440px;
  background-color: #2B3844;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding: 19px 32px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.search__filter .filter {
  cursor: pointer;
}
.search__filter .filter .header {
  background-color: #2B3844;
  padding: 24px 18px;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-bottom: 4px;
}
.search__filter .filter .header span {
  font-weight: 400;
  font-size: 14;
  color: #fff;
}
.search__filter .filter .header span svg {
  margin-left: 49px;
}
.search__filter .filter .menu {
  display: block;
  width: 100%;
  background: #2B3844;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-top: -12px;
}
.search__filter .filter .menu ul li {
  font-weight: 400;
  font-size: 14;
  color: #fff;
  padding: 16px 0px 8px 24px;
}
.search__filter .filter .menu ul li:last-child {
  padding-bottom: 16px;
}

@media only screen and (max-width: 1280px) {
  .search__filter {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .search__filter {
    width: 100%;
    row-gap: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 16px;
  }
  .search__filter .search {
    margin: 0 auto;
    width: 95%;
  }
}/*# sourceMappingURL=style.css.map */