.countries {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    padding-bottom: 45px;

    .item {
        width: 260px;
        background: #2B3844;
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
        border-radius: 5px;
        overflow: hidden;

        .item__img {
            img {
                width: 100%;
                height: 160px;
                object-fit: cover;
                object-position: center center;
            }

            .isNoImage {
                width: 100%;
                height: 160px;
                background-color: #eaeaea;
            }
        }

        .item__wrapper {
            padding: 24px 24px 46px 24px;

            .item__title {
                @include forFonts(800, 18px, #fff);
                margin-bottom: 16pxpx;
            }

            div {
                font-size: 14px;
                color: #fff;
                font-weight: 200;

                &:not(:first-child),
                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                span {
                    font-weight: 800;
                }
            }
        }
    }
}

@media only screen and (max-width: 1285px) {
    .countries {
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: 70px;
        margin-left: 16px;
    }
}